@model HomeFinanse.Areas.Periods.Models.PeriodModel

@{ 
    ViewBag.Title = "Add period";
}

<div class="h3 margin-top-20">
    Add period
</div>

@if (ViewData["PeriodAdded"] != null)
{
    <div class="alert-success alert">

        @ViewData["PeriodAdded"]
    </div>
}

@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

@using (Ajax.BeginForm("AddPeriod", "Period", new { area = "Periods" }, new AjaxOptions { UpdateTargetId = "periodsList" }, null))
{
<div class="box box-primary">
    <form role="form">
        <div class="box-body">
            <div class="form-group">
                Period name
                @Html.EditorFor(model => model.PeriodName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                Period Start Date
                <div class="form-group" style="margin-bottom: 0;">
                    <div class='input-group date' id='datepicker'>
                        @Html.TextBoxFor(model => model.NullableStartDate, new { @id = "datepicker", @class = "form-control date" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                Period End Date
                <div class="form-group" style="margin-bottom: 0;">
                    <div class='input-group date' id='datepicker1'>
                        @Html.TextBoxFor(model => model.NullableEndDate, new { @id = "datepicker1", @class = "form-control date" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <input type="submit" value="Add period" class="btn btn-primary btn-block btn-flat"  />
        </div>
    </form>
</div>
}