@model HomeFinanse.Areas.Periods.Models.PeriodModel


<div class="h3 margin-top-20">
    Add period
</div>

@if (ViewData["PeriodAdded"] != null)
{
    <div class="alert-success alert">

        @ViewData["PeriodAdded"]
    </div>
}

@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

@using (Html.BeginForm("AddPeriod", "Period", new { area = "Periods" }, FormMethod.Post, null))
{
    <hr />
    <div class="row form-group">
        <div class="control-label col-lg-3 col-md-3 col-sm-3">
            Period name
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            @Html.EditorFor(model => model.PeriodName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-lg-3 col-md-3 col-sm-3">
            Period Start Date
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="form-group" style="margin-bottom: 0;">
                <div class='input-group date' id='datepicker'>
                    @Html.TextBoxFor(model => model.NullableStartDate, new { @id = "datepicker", @class = "form-control date" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="control-label col-lg-3 col-md-3 col-sm-3">
            Period End Date
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="form-group" style="margin-bottom: 0;">
                <div class='input-group date' id='datepicker1'>
                    @Html.TextBoxFor(model => model.NullableEndDate, new { @id = "datepicker1", @class = "form-control date" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-group col-lg-12 col-sm-12">
        <input type="submit" value="Add period" class="btn btn-sm btn-primary" />
    </div>
}