@model IEnumerable<HomeFinanse.Models.Income>

<div id="incomesList">

    @if (Model != null)
    {
        if (Model == null || Model.ToList().Count == 0)
        {
            <h3 class="label label-warning"> No incomes </h3>
        }
        else
        {

            <h3>
                Incomes
            </h3>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Period name
                        </th>
                        <th>
                            On account
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IncomeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IncomeDate)
                            </td>
                            <td>
                                @if (item.Period != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Period.PeriodName)
                                }
                            </td>
                            <td>
                                @if (item.OnAccount == true)
                                {
                                    <span class="glyphicon glyphicon-ok black text-center"></span>
                                }
                                else
                                {
                                    @Ajax.ActionLink(" ", "UpdateIncomeDate", new { controller = "Income", area = "Incomes", incomeID = item.ID }, new AjaxOptions { UpdateTargetId = "incomesList" }, new { @class = "glyphicon glyphicon-remove black text-center" });
                                }
                            </td>
                            <td>
                                @Ajax.ActionLink(" ", "DeleteIncome", new { controller = "Income", area = "Incomes", incomeID = item.ID },
                                      new AjaxOptions { UpdateTargetId = "incomesList", HttpMethod = "DELETE" },
                                      new { @class = "glyphicon glyphicon-trash" })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    }
</div>
